<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Список преподавателей</title>

    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
    <h1>Список преподавателей</h1>

    <table>
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Контакты</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="teacher : ${teacherList}" th:id="${teacher.id}">
                <td th:text="${teacher.surname}"></td>
                <td th:text="${teacher.name}"></td>
                <td th:text="${teacher.patronymic}"></td>
                <td th:text="${teacher.phone}"></td>
                <td><button class="delete" th:text="Удалить"></button></td>
            </tr>

            <tr id="form">
                <td><input type="text" placeholder="Фамилия" class="surname"></td>
                <td><input type="text" placeholder="Имя" class="name"></td>
                <td><input type="text" placeholder="Отчество" class="patronymic"></td>
                <td><input type="tel" placeholder="Телефон" class="tel"></td>
                <td><button class="create">Добавить</button></td>
            </tr>

        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script th:src="@{./scripts/scriptTeacher.js"}></script>
</body>

</html>